<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        <nav th:fragment="paginador">
            <ul class="pagination">
                <li clas="page-item" th:each="iteam : ${page.paginas}" th:class="${item.actual? 'page-item active': 'page-item'}">
                    <span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
                    <a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>
                </li>
                
            </ul>
        </nav>
        <div>TODO write content</div>
    </body>
</html>
