<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" th:href="@{/css/style.css}" href="#">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>Error 500</title>
</head>
<body>
	<div class="container text-center">
		<img th:src="@{/images/Error500.jpg}" >
	</div>
</body>
</html>