<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script th:src="@{/js/all.js}"></script>
<title>Administrar inmuebles</title>

</head>
<body>
	<nav class="navbar navbar-expand-sm bg-light fixed-top sticky">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"> <img
			style="width: 170px" th:src="@{/images/LFC1.png}" alt="Logo">
		</a> <input class="form-control form-control-dark w-100" type="text"
			placeholder="Buscar" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link" href="#"
				th:href="@{/login?logout}">Salir</a></li>
		</ul>
	</nav>
	<br>
	<br>
	<br>
	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu"
				class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="sidebar-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active" href="#">
								<i class="fas fa-home"></i> Inmuebles<span class="sr-only">(current)</span>
						</a></li>
					</ul>
					<br> <br>
					<hr>
					<ul class="nav flex-column mb-2 justify-content-end">
						<li class="nav-item"><a class="nav-link" href="#"
							th:href="@{/index}"> Volver al inicio</a></li>
					</ul>
				</div>
			</nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
				<br>
				<div class="btn-toolbar mb-2 mb-md-0">
					<h2>Inmuebles</h2>
					<a href="#" th:href="@{/administrar/agregar?id=0}">
						<button style="margin-left: 20px;" type="submit"
							class="btn btn-outline-info">Agregar</button>
					</a>
				</div>
				<div th:if="${result == 1}" class="alert alert-success" role="alert">
					<h5 class="alert-heading">Inmueble añadido satisfactoriamente.</h5>
				</div>
				<div th:if="${result == 0}" class="alert alert-danger" role="alert">
					<h5 class="alert-heading">Ha ocurrido un error al añadir el
						inmueble.</h5>
				</div>
				<div th:if="${resultado == 1}" class="alert alert-success" role="alert">
					<h5 class="alert-heading">Inmueble eliminado satisfactoriamente.</h5>
				</div>
				<div th:if="${resultado == 0}" class="alert alert-danger" role="alert">
					<h5 class="alert-heading">Ha ocurrido un error al eliminar el
						inmueble.</h5>
				</div>
				<br>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>Titulo</th>
								<th>Descripción</th>
								<th>Precio</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="inmueble : ${inmuebles}"
								th:if="${inmueble.estado == 'Activo'}">
								<td th:text="${inmueble.titulo}"></td>
								<td th:text="${inmueble.descripcion}"></td>
								<td th:text="${inmueble.precio}"></td>
								<td><a href="#"
									th:href="@{/administrar/agregar?id=__${inmueble.id}__}">
										<button type="button" class="btn btn-outline-warning">Editar</button>
								</a> <a href="#"
									th:href="@{/administrar/removeInmueble?id=__${inmueble.id}__}">
										<button type="button" class="btn btn-outline-danger">Eliminar</button>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>
</html>