<!DOCTYPE html>
<html>
<head th:replace="layouts/base_layout :: head">
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script src="js/all.js"></script>
<title>LFC Inmobiliaria - Agregar</title>
</head>
<body>
	<div class="row justify-content-center">
		<div class="col-md-4 mt-5">
			<div class="alert alert-success" th:if="${success}"></div>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-4">Agregar inmueble</h1>
			<hr style="width: 100%">
			<form class="needs-validation" novalidate
				th:action="@{/administrar/addinmueble}" th:object="${inmuebleModel}"
				method="POST" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}">
				<div class="form-row">
					<div class="col-md-4 mb-3">
						<label for="validationCustom01">Titulo</label> 
						<input type="text" class="form-control" id="validationCustom01" th:field="*{titulo}" 
						th:value="${titulo}" placeholder="Titulo" required>
						<div class="invalid-feedback">Debe ingresar el título.</div>
					</div>
					<div class="col-md-8 mb-3">
						<label for="validationCustom02">Descripción</label> <input
							type="text" class="form-control" id="validationCustom02"
							th:field="*{descripcion}" th:value="${descripcion}"
							placeholder="Descripción" required>
						<div class="invalid-feedback">Debe ingresar la descripción.
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-12 mb-3">
						<label for="validationCustom04">Dirección</label> <input
							type="text" class="form-control" id="validationCustom04"
							th:field="*{direccion}" th:value="${direccion}"
							placeholder="Dirección" required>
						<div class="invalid-feedback">Debe ingresar la dirección.</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-4 mb-3">
						<label for="validationCustom03">Precio</label> <input type="text"
							class="form-control" id="validationCustom03" th:field="*{precio}"
							th:value="${precio}" placeholder="Precio" required>
						<div class="invalid-feedback">Debe ingresar el precio.</div>
					</div>
					<div class="col-md-4 mb-3">
						<label for="validationCustom04">Estado</label> <input type="text"
							class="form-control" id="validationCustom04" th:field="*{estado}"
							th:value="${estado}" placeholder="Estado" required>
						<div class="invalid-feedback">Debe ingresar el estado.</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-md-4 mb-3">
						<input type="file" name="file" class="m-2">
					</div>
				</div>
				
				<hr class="my-4">
				<button type="submit" class="btn btn-info btn-lg btn-block">Guardar</button>
			</form>
			<br> <a href="#" th:href="@{/administrar/cancel}">
				<button type="submit" class="btn btn-secondary btn-lg btn-block">Cancelar</button>
			</a>
		</div>
	</div>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>
</html>