<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script th:src="@{/js/all.js}"></script>
<link rel="stylesheet" th:href="@{/css/styles.css}" href="#">
<title>LFC-INMOBILIARIA</title>
</head>
<body>
	<nav
		class="navbar navbar-expand-sm bg-white fixed-top sticky justify-content-between">
		<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"> <img
			style="width: 170px;" th:src="@{/images/LFC1.png}" alt="Logo">
		</a>
		<ul class="nav">
			<li class="nav-item"><a style="color: #118496;" class="nav-link"
				href="#Indicators">Inicio <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown"><a style="color: #118496;"
				class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
				role="button" aria-haspopup="true" aria-expanded="false">Inmuebles</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Lo más destacado</a> <a
						class="dropdown-item" href="#">Últimos agregados</a>
				</div></li>
			<li class="nav-item"><a style="color: #118496;" class="nav-link"
				href="#footer">Contacto</a></li>
		</ul>
		<div class="btn-group" role="group">
			<button id="btnGroupDrop1" type="button"
				class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-users-cog"></i>
			</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<a class="dropdown-item" href="#"
					th:href="@{/administrar/showInmuebles}">Administrar</a> <a
					class="dropdown-item" href="#" th:href="@{/login?logout}">Salir</a>
			</div>
		</div>
	</nav>
	<br>
	<br>

	<div class="title">
		<h3>
			<strong>Lo más <span id="destacado">destacado</span></strong>
		</h3>
		<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
			style="width: 100px;">
	</div>

	<div class="container">
		<div class="row">
			<div th:each="inmueble : ${inmuebles}">
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img id="tr" style="width: 18rem;" height="250"
							class="card-img-top" th:src="@{'/uploads/'+${inmueble.foto1}}"
							th:alt="${inmueble.foto1}">
						<div class="card-body">
							<h5 class="card-title" th:text="${inmueble.titulo}"></h5>
							<p class="card-text" th:text="${inmueble.descripcion}"></p>
						</div>
						<div class="card-body">
							<a class="card-link">Ver más</a>
						</div>
					</div>
				</div>
			</div>
		</div></div>

		<br> <br>

		<div class="title">
			<h3>
				<strong>Últimos <span id="destacado">inmuebles</span></strong>
			</h3>
			<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
				style="width: 100px;">
		</div>

		<div class="container">
			<div class="row" th:each="inmueble : ${inmuebles}">
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img id="tr" style="width: 18rem;" height="250"
							class="card-img-top" th:src="@{'/uploads/'+${inmueble.foto1}}"
							th:alt="${inmueble.foto1}">
						<div class="card-body">
							<h5 class="card-title" th:text="${inmueble.titulo}"></h5>
							<p class="card-text" th:text="${inmueble.descripcion}"></p>
						</div>
						<div class="card-body">
							<a class="card-link">Ver más</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<hr class="line">
		<!-- Footer -->
		<footer class="page-footer font-small mdb-color pt-4">
			<div class="container">
				<div class="row text-center text-md-left mt-3 pb-3">
					<div class="cont">
						<div class="left">
							<img src="#" th:src="@{/images/LFC1.png}" alt="Logo">
						</div>
						<hr class="w-100 clearfix d-md-none">
						<div class="center">
							<h6 class="text-uppercase mb-4 font-weight-bold">Inmobiliaria</h6>
							<p>
								<a href="#">Lo destacado</a>
							</p>
							<p>
								<a href="#">Recién agregado</a>
							</p>
						</div>
						<div class="right">
							<h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
							<p>
								<i class="fas fa-home mr-3"></i> Asunción, NY 10012, PY
							</p>
							<p>
								<i class="fas fa-envelope mr-3"></i> lfcinmuebles@gmail.com
							</p>
							<p>
								<i class="fas fa-phone mr-3"></i> + 021 546 789
							</p>
							<p>
								<i class="fas fa-print mr-3"></i> + 021 546 790
							</p>
						</div>
					</div>
				</div>
				<hr class="line2">
				<div class="row d-flex align-items-center">
					<div class="col-md-7 col-lg-8"></div>
					<div class="col-md-5 col-lg-4 ml-lg-0">
						<div class="text-center text-md-right">
							<ul class="list-unstyled list-inline">
								<li class="list-inline-item"><a
									class="btn-floating btn-sm rgba-white-slight mx-1"> <i
										class="fab fa-facebook-f"></i>
								</a></li>
								<li class="list-inline-item"><a
									class="btn-floating btn-sm rgba-white-slight mx-1"> <i
										class="fab fa-twitter"></i>
								</a></li>
								<li class="list-inline-item"><a
									class="btn-floating btn-sm rgba-white-slight mx-1"> <i
										class="fab fa-linkedin-in"></i>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
</body>
</html>