<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css\style.css">
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script src="js/all.js"></script>
<title>Login</title>
</head>
<body>
	<div class="login-page">

		<div class="header">
			<div>
				<img src="images\LFC1.png" th:src="@{/images/LFC1.png}">
			</div>
		</div>

		<div class="form">
			<form action="#" th:action="@{/logincheck}"
				th:object="${userCredentials}" method="post"
				class="needs-validation" novalidate>
				<div class="col-auto">
					<label class="sr-only" for="validationCustom01">Usuario</label>
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text bg-white">
								<i class="fas fa-user"></i>
							</div>
						</div>
						<input type="text" class="form-control" id="validationCustom01"
							placeholder="Usuario" th:field="*{username}" required>
						<div class="invalid-feedback">Debe ingresar el nombre de
							usuario.</div>
					</div>
				</div>

				<div class="col-auto">
					<label class="sr-only" for="validationCustom02">Contraseña</label>
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text bg-white">
								<i class="fas fa-lock"></i>
							</div>
						</div>
						<input type="password" class="form-control"
							id="validationCustom02" placeholder="Contraseña"
							th:field="*{password}" required>
						<div class="invalid-feedback">Debe ingresar la contraseña.</div>
						<div th:if="${error != null}" class="alert alert-danger"
							role="alert">
							<h5 class="alert-heading">Usuario o contraseña no válido</h5>
							<hr>
							<p class="mb-0">Vuelva a intentar</p>
						</div>
						<div th:if="${logout != null}" class="alert alert-info"
							role="alert">
							<h5 class="alert-heading">Logout successfully</h5>
						</div>
					</div>
				</div>

				<div class="col-auto">
					<button type="submit">Ingresar</button>
				</div>
				<div class="col-auto">
					<a href="#" th:href="@{/error}">
						<button type="button" class="btn btn-outline-info">Cancelar</button>
					</a>
				</div>
			</form>
		</div>
	</div>

	<script>
		(function() {
			'use strict';
			// Esté atento y/o escuche cuando se da click al boton
			window.addEventListener('load',
					function() {
						// Obtiene todos los formularios a los que queremos aplicar los estilos de validación personalizados de Bootstrap
						var forms = document
								.getElementsByClassName('needs-validation');
						// Hace un bucle sobre ello para prevenir que se envíe y/o pasen datos y llama a la propiedad form
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									// Cuando se de click al boton submit, valida el formulario para que pueda ser enviado
									form.addEventListener('submit', function(
											event) {
										// Si el formulario no es válido, para y avisa, no termina el programa
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										// Si es no entra en la condición, termina el programa y el formulario reestablece sus campos
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>
</html>
